---
title: Blog Post - Flo Design Limited	
---

<!-- Add your site or application content here -->

<% wrap_layout :layout do %>
<section class="article_wrapper">
	<div class="wrapper">

	<article class="blog_item">
		<div class="row cf">
			<div class="col9">
				<div class="blog__main">
					<time datetime="<%= current_article.date %>"><%= current_article.date.strftime('%B %e %Y') %></time>
					
					<h2><%= current_article.title %></h2>

					 <%= yield %>
					
				</div><!--end blog main-->
			</div><!--end col9-->
			<div class="col3">
				<div class="post_meta">
					<dl>
						<dt>Time:</dt>
						<dd><%= current_article.data.time %>min</dd>
						<dt>In:</dt>
						<dd><%= current_article.data.tags %></dd>
						<dt>by:</dt>
						<dd><%= current_article.data.author %></dd>
					</dl>
				</div><!--end post meta-->
			</div><!--end col3-->
		</div><!--end row-->
	</article>

	</div><!--end wrapper-->
</section>
<% end %>





