---
title: Blog Post - Flo Design Limited	
---

<!-- Add your site or application content here -->

<% wrap_layout :layout do %>
<section class="article_wrapper">
	<div class="wrapper">

	<article class="blog_item">
		<div class="row cf">
			<div class="col9">
				<div class="blog__main">
					<time datetime="2013-11-15">15th November 2013</time>

					 <%= yield %>
					
				</div><!--end blog main-->
			</div><!--end col9-->
			<div class="col3">
				<div class="post_meta">
					<dl>
						<dt>Time:</dt>
						<dd>5 Min</dd>
						<dt>In:</dt>
						<dd>Tutorials</dd>
						<dt>by:</dt>
						<dd>Craig</dd>
					</dl>
				</div><!--end post meta-->
			</div><!--end col3-->
		</div><!--end row-->
	</article>

	</div><!--end wrapper-->
</section>
<% end %>





