<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Flo Design Ltd" %></title>
        <meta name="description" content="<%= current_page.data.description || "Flo Design Ltd" %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <%= stylesheet_link_tag  "styles" %>
        <%= javascript_include_tag  "vendor/modernizr-2.6.1.min"%>

        <!-- TypeKit -->
        <script type="text/javascript" src="//use.typekit.net/fxd7tlq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


    </head>
    <body class="<%= page_classes %>">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <header class="cf site-header">
            <div class="wrapper">
                <a href="/" class="site-logo">
                    <%= image_tag 'dot.gif', :class => "logo", :height => "1", :width => "1" %>

                </a>
                
                <nav>
                    <a href="/" class="mob-nav-btn"><span aria-hidden="true" data-icon="&#xe623;"></a>
                    <ul class="main-nav">
                        <!-- <li><a href="/work/" class="work_link">Work</a></li> -->
                        <li><%= link_to 'Work', '/work.html', :class => "work_link" %></li>
                        <!-- <li><a href="/about/" class="about_link">About</a></li> -->
                        <li><%= link_to 'About', '/about.html', :class => "about_link" %></li>
                        <!-- <li><a href="services.html" class="services_link">Services</a></li> -->
                        <!-- <li><a href="/blog/" class="blog_link">Blog</a></li> -->
                        <li><%= link_to 'Blog', '/blog.html', :class => "blog_link" %></li>
                        <!-- <li><a href="/contact/" class="hire_link">Hire Us</a></li> -->
                        <li><%= link_to 'Hire Us', '/hire-us.html', :class => "hire_link" %></li>
                      
                    </ul>
                </nav>
            </div><!--end wrapper-->
        </header>

        <%= yield %>

        <footer>
            <div class="wrapper">
                <div class="row cf">
                    <div class="col7">
                        <h5>We're social</h5>
                        <ul class="social-links">
                            <li><a href="https://twitter.com/flodesign"><span aria-hidden="true" data-icon="&#xe617;"></span></a></li>
                            <li><a href="https://www.facebook.com/flodesignltd"><span aria-hidden="true" data-icon="&#xe616;"></span></a></li>
                            <li><a href="http://instagram.com/flodesignltd"><span aria-hidden="true" data-icon="&#xe618;"></span></a></li>
                        </ul>

                        <h5>We're here</h5>
                        <p>Flo Design Limited, Tower Works, Globe Road, Leeds, LS11 5QG</p>

                        <p>&copy; Flo Design Limited 2015 <br/>Registered in England & Wales: 7301868</p>
                    </div><!--end col-->
                    
                    <div class="col5 cf">
                        
                        <%= image_tag 'flo-logo-footer.svg', :class => "footer-logo" %>

                        <nav>
                            <ul class="footer-nav cf">
                                <li><%= link_to 'Work', '/work.html' %></li>
                                <li><%= link_to 'About', '/about.html' %></li>
                                <!-- <li><a href="services.html">Services</a></li> -->
                              
                                <li><%= link_to 'Blog', '/blog.html' %></li>
                               
                                <li><%= link_to 'Hire Us', '/hire-us.html' %></li>
                            </ul>
                        </nav>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end wrapper-->
        </footer>
        
        


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <%= javascript_include_tag  "vendor/jquery.sequence-min.js"%>
        <%= javascript_include_tag  "plugins.js"%>
        <%= javascript_include_tag  "main.js"%>

        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-13017909-1', 'flodesign.co.uk');
          ga('send', 'pageview');
        </script>

    </body>
</html>
