---
title: Blog - Flo Design Limited
description: This is the bit where we discuss the company and show off some of our knowledge. Its our industry chat for those that are interested.
pageable: true
per_page: 10
---

<!-- Add your site or application content here -->


<section class="masthead" id="masthead">
	<%= image_tag 'seawater.jpg', :class => "bg" %>

	<div class="wrapper">
		<h1><span class="hp-title-one">We blog.</span><span class="hp-title-two"><br/>This is what we think.</span></h1>
	</div><!--end wrapper-->
</section>


<section class="articles">
	<div class="wrapper">

	
	<% page_articles.each_with_index do |article, i| %>	
	<article class="blog_item">
		<div class="row cf">
			<div class="col9">

				<div class="blog__main">
					<time datetime="<%= article.date %>"><%= article.date.strftime('%B %e %Y') %></time>
					<h2><%= link_to article.title, article %></h2>
					<%= article.summary %>
				</div><!--end blog main-->
			</div><!--end col9-->
			<div class="col3">
				<div class="post_meta">
					<dl>
						<dt>Time:</dt>
						<dd><%= article.data.time %> Min</dd>
						<dt>In:</dt>
						<dd><%= article.data.tags %></dd>
						<dt>by:</dt>
						<dd><%= article.data.author %></dd>
					</dl>
				</div><!--end post meta-->
			</div><!--end col3-->
		</div><!--end row-->
	</article>
	<% end %>


	</div><!--end wrapper-->
</section>





