---
title: Hire Us or just say hi - Flo Design Limited	
---



<section class="masthead" id="masthead">
	
	<%= image_tag 'seawater.jpg', :class => "bg" %>


	<div class="wrapper">
		<h1><span class="hp-title-one">We talk.</span><span class="hp-title-two"><br/>This is how to contact us.</span></h1>
		
	</div><!--end wrapper-->
</section>


<section class="digits">
	<div class="wrapper">
		<h2>Our Digits</h2>
		<div class="row cf">
			<div class="col2"></div>
			<div class="col7">
				<p>We love talking shop! if you've got a web project in the pipeline we'd love to have a chat about it with you to see if we can help. And if we can't we'll happily point you in the direction of someone who can. We're nice like that :-)</p>
				<p>So what are you waiting for? drop us a line now!</p>
			</div>
			<div class="col4"></div>
		</div><!--end row-->
		<div class="row cf">
			<div class="col6">
				<form method="post" class="talk__form cf" name="contact-form" id="contact-form">
					<input type="text" name="name" id="name" placeholder="Name">
					<input type="text" name="email" id="email" placeholder="Email">
					<div class="form_dropdown">
						<select name="budget" id="budget">
							<option value='' disabled selected style='display:none;'>Budget</option>
							<option value="Under 5k">Under £5k</option>
							<option value="5k - 10k">£5k - £10k</option>
							<option value="10k - 15k">£10k - £15k</option>
							<option value="15k 20k">£15k - £20k</option>
							<option value="over 20k">Over £20k</option>
						</select>
					</div>
					<textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
					<a href="#" id="form_send" class="form_send">SEND <span aria-hidden="true" data-icon="&#xe604;"></span></a>

					<div class="success_fail">
						<img src="img/ajax-loader.gif" alt="Loader" class="loader" />
						<div class="contact-message"></div>
					</div><!--end success fail-->
				</form>
			</div><!--end col6-->
			<div class="col6">
				<ul class="talk__details talk_details--hire">
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe615;"></span><span class="grey">0113</span> 314 2010</li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe612;"></span><a href="mailto:hello@flodesign.co.uk"><span class="grey">hello@</span>flodesign.co.uk</a></li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe617;"></span><a href="https://twitter.com/flodesign"><span class="grey">@</span>flodesign</a></li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe616;"></span><a href="https://facebook.com/flodesignltd"><span class="grey">facebook.com/</span>flodesignltd</a></li>
				</ul>
			</div><!--end col6-->
			
		</div><!--end row-->
		
	</div><!--end wrapper-->
</section>

<section class="map_container">
	<div class="wrapper">
		<h2>Our Location</h2>
		
		<div class="row">
			<div class="col2"></div>
			<div class="col7">
				<p>We're based in the heart of Leeds, the best city on the planet (well we think so anyway!). Leeds is brilliant, Yorshire's brilliant, we're brilliant! If you're ever in the neighbourhood feel free to drop in and we'll get the kettle on!</p>
			</div>
			<div class="col3"></div>
		</div>
	</div>

	<div class="cf">
		<div class="col12">
			<iframe width="100%" frameborder="0" src="https://a.tiles.mapbox.com/v3/flodesign.gj3gi8el/mm/zoompan.html?secure=1#16/53.7923/-1.5523" class="mapbox"></iframe>
		</div>
	</div>
</section>
