---
title: Hire Us - Flo Design Limited	
---



<section class="masthead" id="masthead">
	<img src="img/seawater.jpg" alt="" class="bg">

	<div class="wrapper">
		<h1><span class="hp-title-one">We talk.</span><span class="hp-title-two"><br/>This is how to contact us.</span></h1>
		
	</div><!--end wrapper-->
</section>


<section class="digits">
	<div class="wrapper">
		<h2>Our Digits</h2>
		<div class="row cf">
			<div class="col2"></div>
			<div class="col7">
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
			<div class="col4"></div>
		</div><!--end row-->
		<div class="row cf">
			<div class="col6">
				<form action="" class="talk__form">
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="email" placeholder="Email">
					<div class="form_dropdown">
						<select name="budget">
							<option value='' disabled selected style='display:none;'>Budget</option>
							<option value="Under 10k">Under 10k</option>
							<option value="10k - 15k">10k - 15k</option>
							<option value="15k 20k">15k - 20k</option>
							<option value="over 20k">Over 20k</option>
						</select>
					</div>
					<textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
				</form>
			</div><!--end col6-->
			<div class="col6">
				<ul class="talk__details talk_details--hire">
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe615;"></span><span class="grey">0113</span> 314 2010</li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe612;"></span><a href="mailto:hello@flodesign.co.uk"><span class="grey">hello@</span>flodesign.co.uk</a></li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe617;"></span><span class="grey">@</span>flodesign</li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe616;"></span><a href="mailto:hello@flodesign.co.uk"><span class="grey">facebook.com/</span>flodesignltd</a></li>
				</ul>
			</div><!--end col6-->
			
		</div><!--end row-->
		
	</div><!--end wrapper-->
</section>

<section class="map_container">
	<div class="wrapper">
		<h2>Our Location</h2>
		
		<div class="row">
			<div class="col2"></div>
			<div class="col7">
				<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
			</div>
			<div class="col3"></div>
		</div>
	</div>

	<div class="cf">
		<div class="col12">
			<iframe width='100%' frameBorder='0' src='https://a.tiles.mapbox.com/v3/flodesign.gj3gi8el/mm/zoompan.html?secure=1#16/53.7923/-1.5523' class="mapbox"></iframe>
		</div>
	</div>
</section>
