---
title: Flo Design Limited	
---

<!-- I test therefore I am -->

<!-- Add your site or application content here -->


<section class="masthead" id="masthead">
	<img src="img/seawater.jpg" alt="" class="bg">

	<div class="wrapper">
		<h1><span class="hp-title-one">We are Flo.</span><span class="hp-title-two"><br/> We build the web.</span></h1>
		<div class="ctas">
			
			<a href="/about.html" class="masthead__btn">Find out more <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span></a>

			<a href="/contact.html" class="masthead__btn--solid">Hire us <span aria-hidden="true" data-icon="&#xe604;" class="bg-arrow"></span></a>
		</div>
	</div><!--end wrapper-->
</section>


<section class="offer">
	<div class="wrapper">
	<h2>We do.</h2>
	<div class="row cf">
		<div class="col3">
			<div class="box box1">
				<div class="box__corner"></div>
				<h3>Digital Strategy</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe60e;"></span>
				<p>We’ll work with you to devise a digital strategy that’s right for your business. We’ll ask a lot of questions and conduct needs analysis to ensure we start on the right foot.</p>
				<!-- <a href=""><span data-hover="Find out more" class="roll">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
		
		<div class="col3">
			<div class="box box2">
				<div class="box__corner"></div>
				<h3>User Experience</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe611;"></span>
				<p>Our process is user centric. We build and design web sites for its users. If users have to think how to use a site we've failed and failure is not an option.</p>
				<!-- <a href="">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box box3">
				<div class="box__corner"></div>
				<h3>Design</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe60f;"></span>
				
				<p>We Love design &amp; we believe that every pixel matters. Great design isn't just about a great looking web site it's about a great functioning site as well. Form is function.</p>
				<!-- <a href="">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box box4">
				<div class="box__corner"></div>
				<h3>Development</h3>
				<span class="icon" aria-hidden="true" data-icon="&#xe609;"></span>
				
				<p>We care about code and we set high standards for our selves. Our sites are custom built from the ground up with the very latest web technologys.</p>
				<!-- <a href="">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#x21;"></span></a> -->
				<div class="cl-effect-2">
				<!-- <a href="services.html"><span data-hover="Find out more" class="hover-effect">Find out more<span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></span></a> -->
				</div>
			</div>
		</div><!--end col3-->
	</div><!--end row-->
	</div><!--end wrapper-->
</section>


<section class="built">
	<div class="wrapper">
		<h2>We Build.</h2>
		<div id="sequence" class="sequence">
			<ul class="sequence-canvas">
				<li>
					<img src="img/slider_hdn_macbook.png" alt="" class="mbp" onload="this.width*=0.5;this.onload=null;">
					<img src="img/slider_hdn_iphone.png"  alt="" class="iphone" onload="this.width*=0.5;this.onload=null;">
					<div class="built__info">
						<h4>NHS Health Developer Network</h4>
						<a href="work.html">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>
				<li>
					<img src="img/slider_vp_ipad.png" alt="" class="ipad-vp" onload="this.width*=0.5;this.onload=null;">
					<img src="img/slider_vp_iphone.png"  alt="" class="iphone-vp" onload="this.width*=0.5;this.onload=null;">
					<div class="built__info">
						<h4>VoicePower Limited</h4>
						<a href="work.html">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>
				<li>
					<img src="img/slider_cfs_macbook.png" alt="" class="mbp_cfs" onload="this.width*=0.5;this.onload=null;">
					<div class="built__info cfs-info">
						<h4>Contract furniture specialists</h4>
						<a href="work.html">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>
				<li>
					<img src="img/slider_cam_macbook.png" alt="" class="mbp_cfs" onload="this.width*=0.5;this.onload=null;">
					<div class="built__info cfs-info">
						<h4>Cammax Limited</h4>
						<a href="work.html">View More <span aria-hidden="true" data-icon="&#xe604;"></span></a>
					</div>
				</li>
			</ul>

		</div><!--end sequence-->
	</div><!--end wrapper-->
</section>


<section class="talk">
	<div class="wrapper">
		<div class="row cf">
			<h2>We talk.</h2>
			<div class="col6">
				<form action="" class="talk__form">
					<input type="text" name="name" placeholder="Name">
					<input type="text" name="email" placeholder="Email">
					<div class="form_dropdown">
						<select name="budget">
							<option value='' disabled selected style='display:none;'>Budget</option>
							<option value="Under 10k">Under 10k</option>
							<option value="10k - 15k">10k - 15k</option>
							<option value="15k 20k">15k - 20k</option>
							<option value="over 20k">Over 20k</option>
						</select>
					</div>
					<textarea name="message" id="message" rows="5" placeholder="Message"></textarea>
					<a href="" class="form_send">SEND <span aria-hidden="true" data-icon="&#xe604;"></span></a>
				</form>
			</div>
				<div class="col6">
				<p>Have an upcoming web project that you'd like to work with us on? We'd love to hear from you.</p>
				<p> Simply fill out the form to the left, drop us a line via email or give us a call, we'd be happy to have a chat!</p>

				<ul class="talk__details">
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe615;"></span><span class="grey">0113</span> 314 2010</li>
					<li><span class="talk-icon" aria-hidden="true" data-icon="&#xe612;"></span><a href="mailto:hello@flodesign.co.uk"><span class="grey">hello@</span>flodesign.co.uk</a></li>
				</ul>
			</div>
		</div><!--end row-->
	</div><!--end wrapper-->
</section>