---
title: HTML5 Boilerplate Middleman
---

<!-- Add your site or application content here -->

<header class="cf">
	<div class="wrapper">
		<a href="/" class="site-logo">
			<img src="img/dot.gif" height="1" width="1" alt="logo" class="logo">
		</a>

		<nav>
			<ul class="main-nav">
				<li><a href="index.html">Work</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div><!--end wrapper-->
</header>


<div class="masthead">
	<div class="wrapper">
		<h1>We are Flo.</br> We build the web.</h1>
		<div class="ctas">
			<a href="" class="masthead__btn">Find out more</a>
			<a href="" class="masthead__btn--solid">Work with us</a>
		</div>
	</div><!--end wrapper-->
</div>


<div class="wrapper">
<div class="offer">
	<h2>We offer.</h2>
	<div class="row cf">
		<div class="col3">
			<div class="box">
				<h3>Digital Stratagy</h3>
				<span class="icon" aria-hidden="true" data-icon="&#x61;">Arrows</span>
				<p>We’ll work with you to devise a digital stratagy that’s right for your business. We’ll ask a lot of questions and conduct needs analysis to ensure we start on the right foot.</p>
				<a href="">Find out more</a>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box">
				<h3>Digital Stratagy</h3>
				<span class="icon" aria-hidden="true" data-icon="&#x61;">Arrows</span>
				<p>We’ll work with you to devise a digital stratagy that’s right for your business. We’ll ask a lot of questions and conduct needs analysis to ensure we start on the right foot.</p>
				<a href="">Find out more</a>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box">
				<h3>Digital Stratagy</h3>
				<span class="icon" aria-hidden="true" data-icon="&#x61;">Arrows</span>
				<p>We’ll work with you to devise a digital stratagy that’s right for your business. We’ll ask a lot of questions and conduct needs analysis to ensure we start on the right foot.</p>
				<a href="">Find out more</a>
			</div>
		</div><!--end col3-->
		<div class="col3">
			<div class="box">
				<h3>Digital Stratagy</h3>
				<span class="icon" aria-hidden="true" data-icon="&#x61;">Arrows</span>
				<p>We’ll work with you to devise a digital stratagy that’s right for your business. We’ll ask a lot of questions and conduct needs analysis to ensure we start on the right foot.</p>
				<a href="">Find out more</a>
			</div>
		</div><!--end col3-->
	</div><!--end row-->
</div>

<div class="built">
	<h2>We've Built</h2>
	<ul>
		<li><img src="" alt=""></li>
		<li><img src="" alt=""></li>
		<li>
			<div class="built__item">
				<h4>NHS Health Developer Network</h4>
				<a href="">View More</a>
			</div>
		</li>
	</ul>
</div>

<div class="talk">
	<h2>We want to talk</h2>
	<form action="">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="email" placeholder="Email">
		<textarea name="message" id="message" cols="30" rows="10" placeholder="message"></textarea>
	</form>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>

	<ul>
		<li>0113 314 2010</li>
		<li>hello@flodesign.co.uk</li>
	</ul>
</div>

<footer>
	<h4>We're social</h4>
	<ul>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Instagram</a></li>
	</ul>

	<h4>We're here</h4>
	<p>Flo Design Limited, 15 Queen Square, Leeds, LS2 8AJ</p>

	<p>&copy; Flo Design Limited 2013</p>
	<p>Regestered in England & Wales: 7301868</p>

	<a href="/"><img src="" alt=""></a>

	<nav>
		<ul class="footer-nav">
			<li><a href="work.html">Work</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</nav>
</footer>
</div><!--end wrapper-->
