---
title: Services - Flo Design Limited	
---



<section class="masthead" id="masthead">
	<img src="img/seawater.jpg" alt="" class="bg">

	<div class="wrapper">
		<h1><span class="hp-title-one">We do.</span><span class="hp-title-two"><br/>This is what we offer.</span></h1>
		
	</div><!--end wrapper-->
</section>


<section class="service_item">
	<div class="wrapper">
		<h2>Digital Strategy</h2>
		<div class="row cf">
			<div class="col5">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus</p>
			</div>

			<div class="col7">
				<div class="service_img">
					
				</div><!-- end work imgs-->
			</div>
		</div>
	</div>
</section>