---
title: Our Work - Flo Design Limited	
---



<section class="masthead" id="masthead">
	<img src="img/seawater.jpg" alt="" class="bg">

	<div class="wrapper">
		<h1><span class="hp-title-one">We build.</span><span class="hp-title-two"><br/>This is our work.</span></h1>
		
	</div><!--end wrapper-->
</section>


<section class="work_item">
	<div class="wrapper">
		<h2>HNS Health Developer Network</h2>
		<div class="row cf">
			<div class="col5">
				<p>The NHS is a national institution. As part of their ongoing drive to modernise and leverage the latest technology and the web they asked us to provide a site to be a resorce and community for indipendent software developers. The sites aim is to assist in the creation of health and social care software and mobile applications. We explored a number of design directions but ultimatly settled on a simple bold colour design with each section of the site have its own color identity. The site can be fully updated and maintained via the WordPress content managment system</p>

				We love the NHS, we think its an institution to be proud of and its one we're proud to have worked with.

				<!-- <p>The design of the site needed to be clean, simple and fit within the NHS brand guidelines but also have a unique feel. </p> -->

				

				<!-- <p>The site can be fully updated and maintained via the WordPress content managment system which was customised to meet the exacting requirements of the site.</p> -->

				<ul class="tags cf">
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="http://developer.nhs.uk/">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

			<div class="col7">
				<div class="work_imgs">
					<img class="work_item--mbp" src="img/hdn_mbp_lg.png" alt="" onload="this.width*=0.5;this.onload=null;">
					<img class="work_item--iphone" src="img/hdn_iphone_lg.png" alt="" onload="this.width*=0.5;this.onload=null;">
				</div><!-- end work imgs-->
			</div>
		</div>
	</div>
</section>


<section class="work_item work_item--even">
	<div class="wrapper">
		<h2>Contract Furniture Specialists</h2>
		<div class="row cf">
			<div class="col7 cf">
				<div class="work_imgs">	
					<img class="work_item--mbp" src="img/cfs_mbp_lg.png" alt="" onload="this.width*=0.5;this.onload=null;">
					<!-- <img class="work_item--iphone" src="img/hdn_iphone_lg.png" alt="" onload="this.width*=0.5;this.onload=null;"> -->
				</div><!--end work imgs-->
			</div>

			<div class="col5">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus</p>

				<ul class="tags cf">
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

		</div>
	</div>
</section>


<section class="work_item">
	<div class="wrapper">
		<h2>Cammax Limited</h2>
		<div class="row cf">
			<div class="col5">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus</p>

				<ul class="tags cf">
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>WORDPRESS</li>
				</ul>
				<ul class="work_ctas cf">
					<li><a href="">Launch Site <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li>
					<!-- <li><a href="">Read Case Study <span class="icon-link" aria-hidden="true" data-icon="&#xe604;"></span></a></li> -->
				</ul>
			</div>

			<div class="col7">
				<div class="work_imgs">
					<img class="work_item--mbp" src="img/cam_mbp_lg.png" alt="" onload="this.width*=0.5;this.onload=null;">
					<!-- <img class="work_item--iphone" src="img/hdn_iphone_lg.png" alt="" onload="this.width*=0.5;this.onload=null;"> -->
				</div><!--end work imgs-->
			</div>
		</div>
	</div>
</section>