---
title: Our Work - Flo Design Limited	
---

<section class="masthead">
	<img src="img/seawater.jpg" alt="" class="bg">

	<div class="wrapper">
		<h1><span class="hp-title-one">We love what we do.</span><span class="hp-title-two"><br/> Here is just some of our work.</span></h1>
		
	</div><!--end wrapper-->
</section>

<section class="work_item">
	<div class="wrapper">
		<h2>HNS Health Developer Network</h2>
		<div class="row cf">
			<div class="col5">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus</p>

				<ul class="tags">
					<li>HTML5</li>
					<li>CSS3</li>
					<li>RESPONSIVE</li>
					<li>WORDPRESS</li>
				</ul>
				<ul>
					<li><a href="">Launch Site</a></li>
					<li><a href="">Read Case Study</a></li>
				</ul>
			</div>

			<div class="col7">
				
				<img class="work_item--mbp" src="img/hdn_mbp_lg.png" alt="" onload="this.width*=0.5;this.onload=null;">
				<img class="work_item--iphone" src="img/hdn_iphone_lg.png" alt="" onload="this.width*=0.5;this.onload=null;">
			</div>
		</div>
	</div>
</section>