
/*------------------------------------*\
	$GRID
\*------------------------------------*/

html{
	overflow-x: hidden;
}


/*----------------Clearfix------------*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}

.clear{
	clear:both;
}


/*----------------Grid------------*/

body{
	overflow-x: hidden;
}

.wrapper{
	margin: 0 auto;
	max-width: 1300px;
	padding: 0 20px;
}

.row{
	margin: 0 0 2% 0;
	position: relative;;
}

.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{
	margin: 0 2% 0 0;
	float: left;
	min-height: 1px;
	// overflow: hidden;
}

.col1 {
	width: 6.5%;
}

.col2{
	width: 15%;
}

.col3 {
	width: 23.5%;
}

.col4{
	width: 32%;
}

.col5 {
	width: 40.5%;
}

.col6{
	width: 49%;
}

.col7 {
	width: 57.5%;
}

.col8{
	width: 66%;
}

.col9 {
	width: 74.5%;
}

.col10{
	width: 83%;
}

.col11 {
	width: 91.5%;
}

.col12 {
	width: 100%;
}

.row > div:last-child{
	margin: 0;
}

.copy_wrapper{
	margin-top: 48px;
}

