
/*------------------------------------*\
	$MEDIA QUERIES
\*------------------------------------*/

@media screen and (max-width: 1160px) {
	.masthead img{
		width: auto;
	}
}

@media screen and (max-width: 850px) {
	

	.col3{
		width: 49%;
	}
	
	.articles .col3{
		width: 23.5%;
	}

	.row .col3:nth-child(even){
	margin: 0;
	}

	.box{
		margin-bottom: 20px;
	}
	
	ul.main-nav{
		li a{
			margin-left: 25px;
		}
	}

	.talk__details li{
		font-size: 24px;
		font-size: 1.5rem; 
		font-weight: 600;
		padding: 12px 0;
		&:first-child{
			border-bottom: 1px solid #abadb2;
		}
		a{
			color: $copy;
		}

	}	

	.talk-icon{
		font-size: 34px;
		font-size: 1.5rem;
		padding-right: 10px;	
	}

	.big_quote{
		font-size: 38px;
		font-size: 2.38rem;
		padding: 62px 0;
		line-height: 48px;
		line-height: 3rem;
	}

	.tags{
		margin-bottom: 10px;
		li{
			margin: 0 10px 10px 0;
		}
	}

	@-webkit-keyframes ani-iphone-in {
	    0% { top: 1000px; }	
	    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
	    100% { top: 110px;}
	}

	@-webkit-keyframes ani-mbp-in {
	    0% {top: 1000px; }	
	    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
	    100% {top: 20px;}
	}

	
}

@media screen and (max-width: 535px) {
	.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11,.col12{
		width: 100%;
		margin: 0;
	}
	
	.process .col3{
		width: 49%;
		margin-right: 2%;
	}

	.process .col3:nth-child(even){
		margin: 0;
	}

	h1,.alpha{
		font-size:33px;
		font-size:2.06rem;
		}

	h2,.beta{
		font-size:30px;
		font-size:1.88rem;
		font-weight: 600;
		padding: 35px 0 25px 0;
		line-height: 30px;
		line-height: 1.88rem;
	}

	h3,.gamma{
		margin-bottom: 12px;
	}

	h4, .delta{
		font-size: 21px;
		font-size: 1.31rem;
	}

	.masthead{
		h1{
			line-height: 40px;
			padding: 40px 0 35px 0;
		}

		a{
			display: block;
			width: 100%;
			padding: 7px 0;
			margin-top: 10px;
			font-size: 18px;
			font-size: 1.12rem;
		}

		padding-bottom: 0;
	}

	.masthead__btn--solid{
		margin-left: 0;
		background: #fff;
	}

	.ctas{
		padding-bottom: 30px;
	}

	header{
		height: auto;
		border-bottom: 0;
		position: relative;
		.wrapper{
			margin: 0;
		}
	}

	header.shrink{
			position: relative;
		}

	.site-logo{
		background-size: 70%;
		top: 11px;
		left: 10px;
		float: none;
		width: 91px;
		height: 73px;
	}

	ul.main-nav{
		height: 0;
		overflow: hidden;
		float: none;
		top:0;
		text-align: center;
		@include transition-property(height);
	  	@include transition-duration(.6s);
		li{
			display: block;
			padding: 10px 0;
			border-top: 1px solid $inactive;
			a{
				margin-left: 0;
				border-top: 0;
				&:hover{
					border-top: 0;
				}
			}
			a.active{
				border-top: 0;
			}
		}
	}
	



	ul.main-nav-open{
		height: 225px;
	}

	a.mob-nav-btn{
		display: block;
		font-size: 36px;
		position: absolute;
		right: 10px;
		top: 16px;
		text-decoration: none;
		
	}

	.shrink ul.main-nav{
		top: 0px;
	}

	header.shrink{
		height: auto;
		border-bottom: none;
		overflow: inherit;
	}


	.mob-nav{
		display: block;
		float: right;
	}

	.masthead{
		img{
			height: 550px;
		}
	}

	.box{
		padding: 17px 14px;
		min-height: inherit;
		-webkit-animation-duration: 0s;
		-webkit-animation-fill-mode:both;
		-webkit-animation-name: none;
		-moz-animation-name: none;
		-o-animation-name: none;
		animation-name: none;
		.icon
		{
			font-size: 30px;
			margin: 0 0 14px 0;
			display: block;

		}	
		p{
			padding-bottom: 12px;
		}
	}
	
	.offer{
		padding-bottom: 26px;
	}

	#sequence {
	
	height: 300px;
    
	}

	.built__info{
		min-height: 80px;
	    bottom: -170px;
	    width: 75%;
	    left: -20px;
	}

	.animate-in .built__info{
		@include transition-duration(.8s);
		left: -20px;
		bottom: 20px;
	}

	.animate-out .built__info{
		@include transition-duration(.8s);
		left: -20px;
	}
	
	.iphone{
		right: 0px;
	}

	.animate-in .iphone{
		right: 0;
		left: 0;
		bottom: -70px;
		@include transition-duration(.8s);
	}

	.animate-out .iphone{
		@include transition-duration(.8s);
		right: -800px;
		bottom: -70px;
	}
	
	.mbp{
		left: -60px;
	}

	.animate-in .mbp{
		@include transition-duration(.8s);
		left: -60px;
		top: 0;
	}
	
	.animate-in .mbp_cfs{
		bottom: -70px
	}

	.iphone-vp{
		width: 50%;
		right: 0;
	}
	
	.animate-in .iphone-vp{
		@include transition-duration(.8s);
		right: 0;
		top: 100px;
	}

	.animate-out .iphone-vp{
		@include transition-duration(.8s);
		right: 0;
	}

	.ipad-vp{
		top: 500px;
		width: 100%;
		left: 0;
	}

	.animate-in .ipad-vp{
		@include transition-duration(.8s);
		left: 0;
		top: -6px;
	}

	.animate-out .ipad-vp{
		@include transition-duration(.8s);
		left: 0;
		top: 500px;
	}


	.mbp_cfs{
		width: 175%;
	}
	

	.talk{
		padding-bottom: 48px;
	}
	
	.values{
		padding: 30px 0;
	}

	.values .box{
		padding: 20px 24px 10px 24px;
	}
	
	.big_quote{
		font-size: 22px;
		font-size: 1.4rem;
		padding: 32px 0;
		line-height: 32px;
		line-height: 2rem;
	}
	
	.team{
		padding-bottom: 10px;
	}

	.member{
		margin-bottom: 30px;
	}
	
	.blog{
		padding: 50px 0 50px 0;
		h2{
			padding: 0 0 20px 0;
		}
	}
	
	.blog__main{
		padding-right: 0;
	}

	.post_meta{
		bottom: -30px;
		dl{
		border-left: none;
		padding: 0;
		dd{
			float: left;
			margin-right: 15px;
		}
	}
	} 
	
	
	.work_item{
		padding-bottom: 250px;
		p{
			margin-top: 0;
		}
	}
	
	.work_imgs{
		top: -10px;
	}
	
	
	.article_wrapper{
	padding-top: 0px;
	
	}

	.blog_item{
		padding: 20px 0 40px 0;
		h2{
			padding: 0px 0 15px 0;
		}
	}

	@-webkit-keyframes ani-iphone-in {
    0% { top: 500px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% { top: 50px;}
	}
	
	.work_item--even {
		.col7{
			position: absolute;
			bottom: -20px;
		}
	}

	.mapbox{
		height: 250px;
	}

	.footer-nav{
		position: relative;
	}

	.footer-logo{
		display: none;
	}
}