
/*------------------------------------*\
	$TYPE
\*------------------------------------*/

/*--- HEADINGS ---*/
h1,.alpha{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h2,.beta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h3,.gamma{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h4,.delta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h5,.epsilon{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h6,.zeta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}

/*--- LINKS ---*/
a:hover{
	text-decoration:underline;
}

/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}