
/*------------------------------------*\
	$TYPE
\*------------------------------------*/

/*--- Icons ---*/
@font-face {
	font-family: 'flo-icon';
	src:url('../fonts/flo-icons.eot');
	src:url('../fonts/flo-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flo-icons.woff') format('woff'),
		url('../fonts/flo-icons.ttf') format('truetype'),
		url('../fonts/flo-icons.svg#flo-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[data-icon]:before {
	font-family: 'flo-icon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


body{
	color: $copy;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 24px;
	line-height: 1.5rem;
}

/*--- HEADINGS ---*/
h1,.alpha{
	font-size:55px;
	font-size:3.44rem;
	line-height:auto;
	font-weight: 600;
	text-align: center;
}
h2,.beta{
	font-size:48px;
	font-size:3rem;
	line-height: 48px;
	line-height:3rem;
	text-align: center;
	font-weight: 600;
	padding: 85px 0 48px 0;
}
h3,.gamma{
	font-size:24px;
	font-size:1.5rem;
	font-weight: 600;
	line-height:auto;
}
h4,.delta{
	font-size:30px;
	font-size:1.88rem;
	line-height:auto;
}
h5,.epsilon{
	font-size:18px;
	font-size:1.12rem;
	line-height:auto;
	font-weight: 600;
}
h6,.zeta{
	font-size:16px;
	font-size:1rem;
	line-height:auto;
}

p{
	padding-bottom: 24px;
	padding-bottom: 1.5rem;
}

time{
	font-size: 18px;
	font-size: 1.12rem;
	color: #a6a6a6;
	font-weight: 600;
}
/*--- LINKS ---*/
a:hover{
	text-decoration:underline;
}

a{
	text-decoration:none;
	color: $highlight;
}

/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}