// header
.site-logo{
	background: url(../img/flo-logo.svg) no-repeat;
	background-size: 100%;
	width: 91px;
	height: 73px;
	display: block;
	float: left;
	position: relative;
	top: 24px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.index .site-logo{
	cursor: default;
}


ul.main-nav{
	float: right;
	position: relative;
	top: 80px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	li{
		display: inline;
		a{
			margin-left: 46px;
			color: $inactive;
			text-decoration: none;
			font-size: 18px;
			font-size: 1.12rem;
			border-top: 2px solid rgb(255, 255, 255);
			border-top: 2px solid rgba(255, 255, 255, 0);
			@include transition-duration(.5s);
			padding-top: 0px;
			&:hover{
				color: $highlight;
				border-top: 2px solid $highlight;
				padding-top: 10px;
			}
		}
	}
}

.about a.about_link,
.work a.work_link,
.services a.services_link,
.blog a.blog_link,
.blog_post a.blog_link,
.contact a.hire_link{
	color: $highlight;
	border-top: 2px solid $highlight;
	padding-top: 10px;
}

.shrink ul.main-nav{
	top: 15px;
}

.shrink .site-logo{
	top: 8px;
	background-size: 70%;
}

header{
	z-index: 999;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .95);
	position: fixed;
	width: 100%;
	height: 120px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

}

.blog_post .site-header{
	border-bottom: 1px solid $inactive;
}

header.shrink{
	height: 50px;
	border-bottom: 1px solid $inactive;
	overflow: hidden;
	z-index: 999;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .95);
	position: fixed;
	width: 100%;
}



.mob-nav-btn{
	display: none;
}

.masthead{
	padding-bottom: 140px;
	overflow: hidden;
	// background: url(../img/water.jpg) no-repeat center fixed;

	img{
		position: fixed;
		z-index: -1;
		top:0;
		width: 100%;
		
	}

	h1{
		position: relative;
		// top: 50%;
		// right: 24px;
		// left: 24px;
		color: #fff;
		padding: 275px 0 35px 0;
		line-height: 65px;
		opacity: 1;
	}
	
	.hp-title-one{
		-webkit-animation-delay: .5s;
		-moz-animation-delay: .5s;
		-o-animation-delay: .5s;
		animation-delay: .5s;
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		-o-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-name: show;
		-moz-animation-name: show;
		-o-animation-name: show;
		animation-name: show;
		position: relative;
	}

	.hp-title-two{
		-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
		-o-animation-delay: 1.5s;
		animation-delay: 1.5s;
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		-o-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-name: show;
		-moz-animation-name: show;
		-o-animation-name: show;
		animation-name: show;
		position: relative;
	}

	a{
		text-decoration: none;
		text-transform: uppercase;
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: 400;
		padding: 7px 15px;
		white-space: nowrap;
		-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
		-o-animation-delay: 1.5s;
		animation-delay: 1.5s;
		-webkit-animation-duration: 1.5s;
		-moz-animation-duration: 1.5s;
		-o-animation-duration: 1.5s;
		animation-duration: 1.5s;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-name: show;
		-moz-animation-name: show;
		-o-animation-name: show;
		animation-name: show;
		position: relative;
	}
}


@-webkit-keyframes show {
  0% {
    opacity: 0;
    top: 20px; }

  100% {
    opacity: 1;
    top: 0px; } }

@-moz-keyframes show {
  0% {
    opacity: 0;
    top: 20px; }

  100% {
    opacity: 1;
    top: 0px; } }

@-o-keyframes show {
  0% {
    opacity: 0;
    top: 20px; }

  100% {
    opacity: 1;
    top: 0px; } }

@keyframes show {
  0% {
    opacity: 0;
    top: 20px; }

  100% {
    opacity: 1;
    top: 0px; } }


.ctas{
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.masthead__btn{
	color: #fff;
	border: 1px solid #fff;
	@include transition-duration(.3s);
	// &:after{
	// 	content: '';
	// 	position: absolute;
	// 	z-index: -1;
	// 	@include transition-duration(.3s);
	// 	width: 0;
	// 	height: 103%;
	// 	top: 50%;
	// 	left: 50%;
	// 	background: #fff;
	// 	opacity: 0;
	// 	-webkit-transform: translateX(-50%) translateY(-50%);
	// 	-moz-transform: translateX(-50%) translateY(-50%);
	// 	-ms-transform: translateX(-50%) translateY(-50%);
	// 	transform: translateX(-50%) translateY(-50%);
	// }

	&:hover{
		color: #072e4a;
		background: #fff;
	}

	&:hover:after{
		width: 101%;
		opacity: 1;
	}
}


.masthead__btn--solid{
	color: #072e4a;
	border: 1px solid #fff;
	margin-left: 18px;
	background: #fff;
	@include transition-duration(.3s);
	// &:after{
	// 	content: '';
	// 	position: absolute;
	// 	z-index: -1;
	// 	@include transition-duration(.3s);
	// 	width: 101%;
	// 	height: 103%;
	// 	top: 50%;
	// 	left: 50%;
	// 	background: #fff;
	// 	opacity: 1;
	// 	-webkit-transform: translateX(-50%) translateY(-50%);
	// 	-moz-transform: translateX(-50%) translateY(-50%);
	// 	-ms-transform: translateX(-50%) translateY(-50%);
	// 	transform: translateX(-50%) translateY(-50%);
	// }

	&:hover{
		color: #fff;
		background: none;
	}

	&:hover:after{
		width: 0%;
		opacity: 0;
	}
}

.bg-arrow{
	position: relative;
	top: 3px;
}

.box{
	border: 1px solid $highlight;
	padding: 35px 24px;
	text-align: center;
	position: relative;
	min-height: 282px;
	
	h3{
		font-weight: 100;
		text-align: center;
		margin-bottom: 24px;
	}

	p{
		font-size: 14px;
		font-size: .88rem;
	}
	a{
		text-transform: uppercase;
		padding: 5px;
		-webkit-perspective: 1000px;
		-moz-perspective: 1000px;
		perspective: 1000px;
	}

	.icon
	{
		color: $highlight;
		font-size: 40px;
		margin: 0 auto 22px auto;
		display: block;
	}	
}



.box.showscroll{
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
}

.showscroll.box1{
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}

.showscroll.box2{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;
}

.showscroll.box3{
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;

}

.showscroll.box4{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	animation-delay: 2s;
}


@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(1); }	
    50% { -webkit-transform: scale(1.05);}
    100% { -webkit-transform: scale(1);}
}

@-moz-keyframes pulse {
    0% { -moz-transform: scale(1); }	
	50% { -moz-transform: scale(1.05); }
    100% { -moz-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.05); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }	
	50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}



.box__corner{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 30px 30px 0 0;
	border-color: #3d9add transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 0;
}

.offer{
	background: #fff;
	padding-bottom: 96px;
}

.built{
	background: $grey-bg;
	overflow: hidden;
}



a .icon-link{
	position: relative;
	top: 3px;
	left: 4px;
	font-size: 20px;
}

// .cl-effect-2 a {
// 	line-height: 26px;
// 	-webkit-perspective: 1000px;
// 	-moz-perspective: 1000px;
// 	perspective: 1000px;
// }

// .cl-effect-2 a span.hover-effect {
// 	position: relative;
// 	display: inline-block;
// 	padding: 0 14px;
// 	background: #fff;
// 	-webkit-transition: -webkit-transform 0.3s;
// 	-moz-transition: -moz-transform 0.3s;
// 	-o-transition: -0-transform 0.3s;
// 	transition: transform 0.3s;
// 	-webkit-transform-origin: 50% 0;
// 	-moz-transform-origin: 50% 0;
// 	-o-transform-origin: 50% 0;
// 	transform-origin: 50% 0;
// 	-webkit-transform-style: preserve-3d;
// 	-moz-transform-style: preserve-3d;
// 	-o-transform-style: preserve-3d;
// 	transform-style: preserve-3d;
// }

// .csstransforms3d .cl-effect-2 a span.hover-effect::before {
// 	position: absolute;
// 	color: #fff;
// 	top: 100%;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background: $highlight;
// 	content: attr(data-hover);
// 	-webkit-transition: background 0.3s;
// 	-moz-transition: background 0.3s;
// 	-o-transition: background 0.3s;
// 	transition: background 0.3s;
// 	-webkit-transform: rotateX(-90deg);
// 	-moz-transform: rotateX(-90deg);
// 	-0-transform: rotateX(-90deg);
// 	transform: rotateX(-90deg);
// 	-webkit-transform-origin: 50% 0;
// 	-moz-transform-origin: 50% 0;
// 	-0-transform-origin: 50% 0;
// 	transform-origin: 50% 0;
// }

// .cl-effect-2 a:hover span.hover-effect,
// .cl-effect-2 a:focus span.hover-effect {
// 	-webkit-transform: rotateX(90deg) translateY(-22px);
// 	-moz-transform: rotateX(90deg) translateY(-22px);
// 	transform: rotateX(90deg) translateY(-22px);
// }

// .csstransforms3d .cl-effect-2 a:hover span.hover-effect::before,
// .csstransforms3d .cl-effect-2 a:focus span.hover-effect::before {
// 	background: #28a2ee;	
// }

.built__info{
	background: rgba(61, 155, 221, .9);
	width: 50%;
	padding: 20px;
	min-height: 120px;
    bottom: -270px;
    
	h4{
		color: #fff;
		padding-bottom: 10px;
	}
	a{
		color: #fff;
	}
}

.animate-in .built__info{
	
	left: 0px;
    bottom: 141px;
    @include transition-duration(.5s);
    @include transition-delay(1s);
}

.animate-out .built__info{
	
    bottom: 800px;
    @include transition-duration(.5s);
}

.mbp{
	opacity: 1;
	top: -1000px;
}

.animate-in .mbp{
	opacity: 1;
	top: 0;
	@include transition-duration(.5s);
	@include transition-delay(.5s);
}

.animate-out .mbp{
	top: 0;
	opacity: 0;
	@include transition-duration(.8s);
	@include transition-delay(.3s);
}


.iphone{
	right: 100px;
	bottom: 1000px;
	opacity: 1;
}

.animate-in .iphone{
	right: 100px;
	bottom: 90px;
	opacity: 1;
	@include transition-duration(.5s);
	@include transition-delay(.8s);
}

.animate-out .iphone{
	opacity: 1;
	bottom: 90px;
	right: -1200px;
	@include transition-duration(.5s);
	@include transition-delay(.2s);
}

.mbp_cfs{
	opacity: 1;
	bottom: -1000px;
}

.animate-in .mbp_cfs{
	opacity: 1;
	bottom: 0;
	@include transition-duration(.5s);
	@include transition-delay(.5s);
}

.animate-out .mbp_cfs{
	bottom: -1000px;
	opacity: 1;
	@include transition-duration(.8s);
}


.ipad-vp{
	
	top: -1300px;
	left: 50px;
}

.animate-in .ipad-vp{
	
	top: 0;
	@include transition-duration(.5s);
	@include transition-delay(.5s);
}

.animate-out .ipad-vp{
	top: 1300px;
	@include transition-duration(.8s);
}


.iphone-vp{
	top: -1000px;
	right: 80px;
}

.animate-in .iphone-vp{
	top: 200px;
	@include transition-duration(.5s);
	@include transition-delay(.8s);
}

.animate-out .iphone-vp{
	top: 1000px;
	@include transition-duration(.8s);
	@include transition-delay(.2s);
}

#sequence {
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	width: 100%;
	height: 600px;
    position: relative; /* required */
    max-width: 1000px;
    margin: 0 auto; 
}

#sequence > .sequence-canvas li > * {  /* required */
    position: absolute;
}

#sequence > .sequence-canvas { /* required */
    height: 100%; 
    width: 100%;
}

#sequence > .sequence-canvas > li { /* required */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.talk{
	background: #fff;
	overflow: hidden;
	padding-bottom: 72px;
}

.process{
	background: #fff;
	overflow: hidden;
	padding-bottom: 72px;
	img{
		width: 100%;

	}
}

form.talk__form{
	width: 100%;
	position: relative;
	top: -20px;


	input, textarea{
		color: #aaaaaa;
		background: #fff;
		display: block;
		width: 100%;
		border-bottom: 1px solid $highlight;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 100;
		font-size: 24px;
		font-size: 1.5rem;
		padding: 20px 0 10px 0;
		&:focus{
		outline: none;
	}
	}
}

.form_dropdown select{
	color: #aaaaaa;
	width: 100%;
	background: transparent;
	display: block;
	border: none;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 24px;
	font-size: 1.5rem;
	padding: 20px 0 10px 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	&:focus{
		outline: none;
	}
}

.form_dropdown{
	border-bottom: 1px solid $highlight;
}

.form_send{
	font-size: 24px;
	font-size: 1.5rem;
	margin-top: 24px;
	display: block;
	width: 95px;
	padding: 7px 7px 7px 15px;
	border: 1px solid $highlight;
	@include transition-duration(.5s);
	&:hover{
		color: #fff;
		background: $highlight;
		text-decoration: none;
	}

	
	span{
		position: relative;
		top: 2px;
	}
}

.success_fail{
	margin: 20px 0;

	.contact-message{
		font-weight: bold;
		padding: 10px 15px;
	}

	.contact-error{
		color: #e74c3c;
		border: 1px solid #e74c3c;

	}

	.contact-success{
		color: #27ae60;
		border: 1px solid #27ae60;
		
	}

}

.talk__details li{
	font-size: 36px;
	font-size: 2.25rem; 
	font-weight: 600;
	padding: 24px 0;
	&:first-child{
		border-bottom: 1px solid #abadb2;
	}
	a{
		color: $copy;
	}
}

.talk_details--hire li{
	border-bottom: 1px solid #abadb2;
	&:last-child{
		border-bottom: none;
	}
}

.grey{
	color: #abadb2;
}

.talk-icon{
	color: $highlight;
	padding-right: 20px;
	font-size: 30px;
	font-size: 1.88rem;
	position: relative;
	top: 5px;
}


.work_item, .service_item{
	background: #fff;
	overflow: hidden;
	p{
		font-size:18px;
		font-size:1.12rem;
		margin-top: 48px;
	}
	
}


.service_item{
	padding-bottom: 110px;
}

.service_item_even, .map_container{
	background: $grey-bg;
}


.service_img img{
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 315px;
}

.work_imgs{
	position: relative;
}

.work_item--iphone, .work_item--mbp{
	position: absolute;
}

.work_item--mbp{
	top: 20px;
}

.work_item--iphone{
	top: 130px;
}


.inview .work_item--iphone{
		-webkit-animation-delay: 1.5s;
		-moz-animation-delay: 1.5s;
		-o-animation-delay: 1.5s;
		animation-delay: 1.5s;
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		-o-animation-duration: .5s;
		animation-duration: .5s;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-name: ani-iphone-in;
		-moz-animation-name: ani-iphone-in;
		-o-animation-name: ani-iphone-in;
		animation-name: ani-iphone-in;
}

.inview .work_item--mbp{
		-webkit-animation-delay: 1.8s;
		-moz-animation-delay: 1.8s;
		-o-animation-delay: 1.8s;
		animation-delay: 1.8s;
		-webkit-animation-duration: .8s;
		-moz-animation-duration: .8s;
		-o-animation-duration: .8s;
		animation-duration: .8s;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-name: ani-mbp-in;
		-moz-animation-name: ani-mbp-in;
		-o-animation-name: ani-mbp-in;
		animation-name: ani-mbp-in;
}


@-webkit-keyframes ani-iphone-in {
    0% { top: 700px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% { top: 110px;}
}

@-moz-keyframes ani-iphone-in {
    0% { top: 700px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% { top: 110px;}
}

@-o-keyframes ani-iphone-in {
    0% { top: 700px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% { top: 110px;}
}

@keyframes ani-iphone-in {
    0% { top: 700px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% { top: 110px;}
}

@-webkit-keyframes ani-mbp-in {
    0% {top: 600px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% {top: 20px;}
}

@-moz-keyframes ani-mbp-in {
    0% {top: 600px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% {top: 20px;}
}

@-o-keyframes ani-mbp-in {
    0% {top: 600px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% {top: 20px;}
}

@keyframes ani-mbp-in {
    0% {top: 600px; }	
    // 50% {opacity: .5; -webkit-transform: scale(1.05);}
    100% {top: 20px;}
}


.tags{
	margin-bottom: 100px;
	li{
		float: left;
		padding: 2px 8px 0 8px;
		font-size: 0.88rem;
		font-size: 14px;
		color: #9e9f9f;
		background: $grey-bg;
		margin: 0 10px 10px 0;	
	}
}

.work_item--even{
	background: $grey-bg;
	.work_item--mbp{
		
		right: 0px;
	}
	.work_item--iphone{
		top: 130px;
		right: 0px;
	}

	.tags li{
		background: #fff;
	}
}




.work_ctas{
	margin-bottom: 15px;
	li{
		float: left;
		text-transform: uppercase;
		margin-right: 20px;
		a{
			padding: 5px;
			&:hover{
				text-decoration: none;
				background: $highlight;
				color: #fff;
			}
		}
	}
}



.mapbox{
	margin: 20px 0 -2% 0;
	height: 500px;
}

.digits{
	background: #fff;
	padding-bottom: 110px;
}

.values{
	background: #fff;
	padding: 96px 0;
	.box{
		padding: 35px 24px 10px 24px; 
	}
}

.icon-fire{
	background: url(../img/fire.svg) no-repeat;
	width: 100%;
	height: 49px;
	background-position: center;
	margin-bottom: 16px; 
	text-align: center;
}

.icon-people{
	background: url(../img/people.svg) no-repeat;
	width: 100%;
	height: 49px;
	background-position: center;
	margin-bottom: 16px; 
}

.icon-happy{
	background: url(../img/happy.svg) no-repeat;
	width: 100%;
	height: 49px;
	background-position: center;
	margin-bottom: 16px; 
}

.icon-web{
	background: url(../img/web.svg) no-repeat;
	width: 100%;
	height: 49px;
	background-position: center;
	margin-bottom: 16px; 
}

.big_quote{
	font-size: 48px;
	font-size: 3rem;
	font-weight: 100;
	color: $highlight;
	text-align: center;
	padding: 82px 0;
	line-height: 60px;
	line-height: 3.75rem;
}


.team{
	background: $grey-bg;
	padding-bottom: 50px;
}

.member{
	img{
		width: 30%;
		float: left;
		margin-right: 5%;
	}
}

.member__copy{
	width: 65%;
	float: right;
	p{
		padding-right: 10px;
	}
}

ul.member__social li{
	display: inline;
	margin-right: 10px;
	a{
		color: $copy;
		@include transition-duration(.5s);
		&:hover{
			text-decoration: none;
			color: $highlight;
		}
	}
}


.articles{
	background: #fff;
	padding-bottom: 20px;
}
.blog_item{
	padding: 50px 0 40px 0;
	border-bottom: 1px solid #ececec;
	h2{
		text-align: left;
		padding: 10px 0 50px 0;
		line-height: 48px;
		line-height: 3rem;
		a{
			color: $copy;
			@include transition-duration(.5s);
			&:hover{
				color: $highlight;
				text-decoration: none;
			}
		}
	}
}

.blog__main{
	padding-right: 11.4%;
	pre{
		padding: 20px;
		background: $grey-bg;
		overflow: auto;
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
		// border: 1px solid #a7a9ac;
		color: #a7a9ac;
	}

	img{
		max-width: 100%;
		border: 1px solid #a7a9ac;
	}

}

.post_meta{
	position: absolute;
	bottom: -60px;
	width: 100%;
	dl{
	border-left: 1px solid #ececec;
	padding: 0px 0 85px 10px;
	font-size: 18px;
	font-size: 1.12rem;
	font-weight: 600;
	display: block;
		dt{
		float: left;
		color: #a6a6a6;
		margin-right: 10px;
		}
	}	
} 


.article_wrapper{
	padding-top: 100px;
	background: #fff;
}


footer{
	color: $footer-copy;
	background: $copy;
	padding: 48px 0 24px 0;
}

.social-links{
	margin-bottom: 24px;
	li{
		display: inline;
		a{
			color: $footer-copy;
			margin-right: 3px;
			@include transition-duration(.5s);
			&:hover{
				text-decoration: none;
				color: $highlight;

			}
		}
	}
}

.footer-nav{
		position: absolute;
		right: 0;
		bottom: 0;
		margin-bottom: 24px;
		li{
			display: inline;
			border-right: 1px solid $footer-copy;
			&:last-child{
					border-right: 0;
				} 
			a{
				color: $footer-copy;
				
				padding-right: 5px;
				
			}
		}
}

.footer-logo{
	position: absolute;
	right: 0;
}

// testing slack nitbucket integration. 
