
/*------------------------------------*\
	$VARIABLES
\*------------------------------------*/

$highlight : #3d9bdd;
$copy : #464749;
$inactive : #a7a9ac;
$grey-bg : #f6f6f6;
$footer-copy : #84868A;
$flo-blue : #399FCC;